{{define "page"}}
<div class="main">
  <img src="/assets/logo.png" />
  <h1>Sign in</h1>
  <p>To confirm your identity please enter a one time password</p>
  {{if .error}}<div class="error">{{.error}}</div><br />{{end}}
  <form action="/otp" method="POST" class="contents">
    <small>One Time Password</small>
    <input required type="text" placeholder="One Time Password" name="otp" />
    <div class="buttons">
      <a href="/help">Can't log in?</a>
      <button class="button">Next</button>
    </div>
  </form>
</div>
{{ end }}
